{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Easy Learn | Profile</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/simple-datatables/style.css" %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
</head>

<body>

    {% include "users/"|add:role|add:"/"|add:role|add:"_site.html" %}
    
    <main id="main" class="main">
        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            {% if user.profile_photo.url != "" %}
                                <img src="{{user.profile_photo.url}}" alt="Profile" class="rounded-circle" style="width:120px; height:120px; object-fit:fit object-position:center;">
                            {% else %}
                                <img src="{% static "users/img/profile.png" %}" alt="Profile" class="rounded-circle border border-dark-subtle" style="width:120px; height:120px; object-fit:fit object-position:center;">
                            {% endif %}
                            <h2>{{request.user.first_name}} {{request.user.last_name}}</h2>
                            <p>{{request.user.role}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body pt-3">

                          	<!-- Bordered Tabs -->
							<ul class="nav nav-tabs nav-tabs-bordered">
								<li class="nav-item">
									<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
								</li>
				
								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
								</li>
				
								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
								</li>
							</ul>

                          	<div class="tab-content pt-2">
								
								{% include "users/components/alert.html" %}

								<div class="tab-pane fade show active profile-overview" id="profile-overview">
				
									<h5 class="card-title">{{role|upper}} PROFILE DETAILS</h5>
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label ">Full Name</div>
										<div class="col-lg-9 col-md-8">{{request.user.first_name}} {{request.user.last_name}}</div>
									</div>
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Email</div>
										<div class="col-lg-9 col-md-8">{{request.user.email}}</div>
									</div>
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Phone Number</div>
										<div class="col-lg-9 col-md-8">(+91) {{request.user.profile.phone_number}}</div>
									</div>
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Designation</div>
										<div class="col-lg-9 col-md-8">{{request.user.profile.designation}}</div>
									</div>
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Department</div>
										<div class="col-lg-9 col-md-8">{{request.user.profile.department}}</div>
									</div>

									{% if role == 'Teacher' %}
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Experience</div>
										<div class="col-lg-9 col-md-8">{{request.user.profile.experience}} Years</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Subject(s)</div>
										<div class="col-lg-9 col-md-8">
											{% for obj in user.profile.subjects.all %}
												| {{obj.name}} |
											{% endfor %}
										</div>
									</div>
									{% endif %}
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Role</div>
										<div class="col-lg-9 col-md-8">{{request.user.role}}</div>
									</div>
				
								</div>
            
								<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
									<form id="staffProfileForm" method="post">
										{% csrf_token %}

										<div class="row mb-3">
											<label for="id" class="col-md-4 col-lg-3 col-form-label">ID</label>
											<div class="col-md-8 col-lg-9">
												<input name="id" type="text" class="form-control" id="id" value="{{request.user.id}}" readonly>
											</div>
										</div>

										<div class="row mb-3">
											<label for="firstName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
											<div class="col-md-8 col-lg-9">
												<input name="first_name" type="text" class="form-control" id="firstName" value="{{request.user.first_name}}">
											</div>
										</div>

										<div class="row mb-3">
											<label for="lastName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
											<div class="col-md-8 col-lg-9">
												<input name="last_name" type="text" class="form-control" id="lastName" value="{{request.user.last_name}}">
											</div>
										</div>

										<div class="row mb-3">
											<label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
											<div class="col-md-8 col-lg-9">
												<input name="email" type="email" class="form-control" id="email" value="{{request.user.email}}">
											</div>
										</div>

										<div class="row mb-3">
											<label for="phoneNumber" class="col-md-4 col-lg-3 col-form-label">Phone Number</label>
											<div class="col-md-8 col-lg-9">
												<input name="phone_number" type="text" class="form-control" id="phoneNumber" value="{{request.user.profile.phone_number}}">
											</div>
										</div>

										<div class="row mb-3">
											<input type="hidden" id="role" name="role" value="{{request.user.role|lower}}">
										</div>	
	
										<div class="text-center">
											<button type="submit" class="btn btn-primary">Save Changes</button>
											<a href="{% url request.user.role|lower|add:"-index-view" %}" class="btn btn-secondary">Close</a>
										</div>
										
									</form><!-- End Profile Edit Form -->
								</div> 
            
								<div class="tab-pane fade pt-3" id="profile-change-password">
									<!-- Change Password Form -->
									<form id="changePasswordForm" method="post">
										{% csrf_token %}
										
										<div class="row mb-3">
											<label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="current_password" type="password" class="form-control" id="currentPassword">
											</div>
										</div>
					
										<div class="row mb-3">
											<label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="new_password" type="password" class="form-control" id="newPassword">
											</div>
										</div>
					
										<div class="row mb-3">
											<label for="confirmPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="confirm_password" type="password" class="form-control" id="confirmPassword">
											</div>
										</div>
					
										<div class="text-center">
											<button type="submit" class="btn btn-primary">Change Password</button>
											<a href="{% url request.user.role|lower|add:"-index-view" %}" class="btn btn-secondary">Close</a>
										</div>
									</form><!-- End Change Password Form -->
								</div>
            
                          	</div><!-- End Bordered Tabs -->
            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static "assets/vendor/apexcharts/apexcharts.min.js" %}"></script>
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "assets/vendor/chart.js/chart.umd.js" %}"></script>
    <script src="{% static "assets/vendor/echarts/echarts.min.js" %}"></script>
    <script src="{% static "assets/vendor/quill/quill.js" %}"></script>
    <script src="{% static "assets/vendor/simple-datatables/simple-datatables.js" %}"></script>
    <script src="{% static "assets/vendor/tinymce/tinymce.min.js" %}"></script>
    <script src="{% static "assets/vendor/php-email-form/validate.js" %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static "assets/js/main.js" %}"></script>
    <script src="{% static "users/js/script.js" %}"></script>

</body>

</html>