{% extends "base.html" %}
{% load static %}

{% block title %} Register {% endblock title %}

{% block content %}
    <main class="main">
        <section class="container lg-position-relative min-vh-100 lg-d-flex justify-content-center align-items-center">

            <div class="lg-position-absolute px-1 py-2 top-0 start-0">
                <a href="{% url "index-view" %}" class="logo">
                    <span>
                        <i class="bi bi-mortarboard-fill"></i>
                        <span class="text-primary">EASY</span> LEARN
                    </span>
                </a>
            </div>

            <div class="row mt-3 mt-lg-0">

                <div class="col-6 d-none d-lg-block">
                    <img src="{% static "users/img/register.png" %}" class="d-block w-100" alt="...">
                </div>
                
                <div class="col col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="row justify-content-center">
                        <div class="col col-lg-9">

                            <div class="mb-3 text-center text-lg-start">
                                <h3 class="fw-bold">
                                    <i class="bi bi-person-bounding-box"></i>
                                    CREATE ACCOUNT.
                                </h3>
                                <p class="card-text d-none d-md-block">Skills for your present (and your future).<br>
                                    <span class="text-primary">Get started with us.</span>
                                </p>
                            </div>

                            {% include "components/alert.html" %}

                            <form id="registerForm" class="row g-2 mb-3" method="post">
                                {% csrf_token %}
                                <div class="col-6">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="first_name" required>
                                </div>
                                <div class="col-6">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="last_name" required>
                                </div>
                                <div class="col-12">
                                    <label for="institute" class="form-label">Institute</label>
                                    <input type="text" class="form-control" id="institute" name="institute" required>
                                </div>
                                <div class="col-12">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="col-6">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="col-6">
                                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword" name="confirm_password" required>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary w-50">Register</button>
                                </div>
                            </form>

                            <div class="text-center">
                                <p class="card-text">Already have account ? <a href="{% url "login-view" %}">Login</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
{% endblock content %}