{% extends "staff_base.html" %}
{% load static %}

{% block aside %}
    <aside id="sidebar" class="sidebar bg-primary-subtle">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'teacher-index-view' %}active bg-dark{% endif %}" href="{% url "teacher-index-view" %}">
                    <i class="bi bi-house-door-fill"></i>
                    <span>HOME</span>
                </a>
            </li>

            <li class="nav-heading">TEACHER PAGES</li>

            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == '' %}active bg-dark text-primary{% endif %} collapsed" href="">
                    <i class="bi bi-person-video3"></i>
                    <span>CREATE COURSE</span>
                </a>
            </li>

            <li class="nav-item mt-4">
                <a class="nav-link {% if request.resolver_match.url_name == '' and request.resolver_match.kwargs.role == 'teacher' %}active bg-dark text-primary{% endif %} collapsed" href="">
                    <i class="bi bi-person-lines-fill"></i>
                    <span>LIST COURSE'S</span>
                </a>
            </li>

            <li class="nav-item mt-4">
                <a class="nav-link {% if request.resolver_match.url_name == 'teacher-list-student-view' %}active bg-dark text-primary{% endif %} collapsed" href="{% url 'teacher-list-student-view'%}">
                    <i class="bi bi-person-lines-fill"></i>
                    <span>LIST STUDENT'S</span>
                </a>
            </li>

        </ul>

    </aside>
{% endblock aside %}

