{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Easy Learn | Create Teacher</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/simple-datatables/style.css" %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
</head>

<body>

    {% include "users/admin/admin_site.html" %}
    
    <main id="main" class="main">
    
        <section class="section">
            <div class="row justify-content-center">
                <div class="col col-lg-9">
                    <div class="card">
                        <div class="card-body row">

                            <h5 class="card-title text-center">CREATE TEACHER PROFILE</h5>

                            <div class="card col-9 p-2 mx-auto">

                                {% include "users/components/alert.html" %}

                                <form id="createTeacherForm" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-header">
                                        Personal Information
                                    </div>
                                    <div class="card-body">
                                        <div class="row g-3 p-2">
                                            <div class="col-12">
                                                <label for="profilePhoto" class="form-label">Profile Photo</label>
                                                <input class="form-control" type="file" id="profilePhoto" name="profile_photo" required>
                                            </div>
                                            <div class="col-6">
                                                <label for="firstName" class="form-label">First Name</label>
                                                <input type="text" class="form-control" id="firstName" name="first_name" required>
                                            </div>
                                            <div class="col-6">
                                                <label for="lastName" class="form-label">Last Name</label>
                                                <input type="text" class="form-control" id="lastName" name="last_name" required>
                                            </div>
                                            <div class="col-12">
                                                <label for="phoneNumber" class="form-label">Phone Number</label>
                                                <input type="text" class="form-control" id="phoneNumber" name="phone_number" required>
                                            </div>
                                            <div class="col-6">
                                                <label for="designation" class="form-label">Designation</label>
                                                <select id="designation" class="form-select" name="designation" required>
                                                    <option value="Professor">Professor</option>
                                                    <option value="Ast.Professor">Ast.Professor</option>
                                                    <option value="Staff">Staff</option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label for="department" class="form-label">Department</label>
                                                <select id="department" class="form-select" name="department" required>
                                                    <option value="Information Technology">Information Technology</option>
                                                    <option value="Computer Science">Computer Science</option>
                                                    <option value="Enginnering">Enginnering</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header">
                                        Authentication Information
                                    </div>
                                    <div class="card-body">
                                        <div class="row g-3 p-2">
                                            <div class="col-12">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <div class="col-12">
                                                <label for="password" class="form-label">Password</label>
                                                <input type="password" class="form-control" id="password" name="password" required>
                                            </div>
                                            <div class="col-12">
                                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                                <input type="password" class="form-control" id="confirmPassword" name="confirm_password" required>
                                            </div>
                                        </div>

                                        <div class="card-footer text-end">
                                            <button class="btn btn-primary">Create Profile</button>
                                        </div>

                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static "assets/vendor/apexcharts/apexcharts.min.js" %}"></script>
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "assets/vendor/chart.js/chart.umd.js" %}"></script>
    <script src="{% static "assets/vendor/echarts/echarts.min.js" %}"></script>
    <script src="{% static "assets/vendor/quill/quill.js" %}"></script>
    <script src="{% static "assets/vendor/simple-datatables/simple-datatables.js" %}"></script>
    <script src="{% static "assets/vendor/tinymce/tinymce.min.js" %}"></script>
    <script src="{% static "assets/vendor/php-email-form/validate.js" %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static "assets/js/main.js" %}"></script>
    <script src="{% static "users/js/script.js" %}"></script>

</body>

</html>